.App {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100vh;

  .github-ribbon {
    position: fixed;
    top: 30px;
    right: -36px;
    transform: rotate(45deg);
    font-size: 10px;
    padding: 8px 32px;
    background-color: #222;
    border: 1px dashed white;
    a {
      color: white;
    }
  }

  .btn {
    border: 1px solid #222;
    font-weight: bold;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #222;
    text-align: center;
    transition: all 0.2s;
    font-size: 15px;
  }

  .shadow-around {
    border: 2px solid #efefef;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.22) 0 0 16px 1px;
  }

  .arrow {
    position: absolute;
    top: 10px;
    width: 20px;
    height: 20px;
    padding: 3px 1px;
    &:hover {
      cursor: pointer;
      border: 1px solid #222;
    }
    
    &:before, &:after {
      position: absolute;
      content: ' ';
      height: 15px;
      width: 3px;
      background-color: #333;
    }
    &:after {
      top: 12px;
    }
  }

  .arrow-left {
    left: 16px;
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  .arrow-right {
    right: 16px;
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }

  .clip-to-bounds-container {
    width: 100%;
    overflow: hidden;
  }

  .hp-bar-container {
    position: absolute;
    top: -35px;
    left: 0px;
    width: 100%;
    .hp-bar {
      position: relative;
      height: 24px;
      width: 100%;
      border: 1px solid #222;
      border-radius: 16px;
      overflow: hidden;
    
      & > span {
        display: block;
        height: 100%;
        background-color: #2ecc71;
        position: absolute;
        z-index: -1;

      }
      & > div {
        padding-top: 2px;
        font-weight: bold;
        color: #222;
      }
    }
  }

  .players, .enemies {
    display: flex;
    flex-direction: row;
    padding: 16px 32px;
    align-items: center;
    overflow: scroll;
    height: 100%;
  }

  .player, .enemy {
    position: relative;
    text-align: center;
    min-width: 120px;
    max-width: 140px;
    &:not(:first-child) {
      margin-left: 16px;
    }
    h4 {
      margin: 0;
    }
    
    padding: 16px;
    img {
      width: 80px;
    }

    &:first-child {
      .arrow-left {
        display: none;
      }
    }
    
    &:last-child {
      .arrow-right {
        display: none;
      }
    }

  }

  .enemy {
    .hits-taken {
      font-weight: bold;
      margin: 4px 0;
      span {
        color: red;
      }
    }
  }

  .enemies {
    position: relative;
    .add-enemy-btn {
      right: 8px;
      bottom: 50px;
      position: absolute;
      background-color: #222;
      color: white;
      font-weight: bold;
      padding: 8px;
      text-decoration: none;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .add-enemy-list-container {
      width: 100%;
      max-width: 400px;
      background-color: white;
      border-radius: 5px;
      overflow: hidden;
      margin: 8px;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          font-weight: bold;
          padding: 16px;
          border-bottom: 1px solid lightgray;
          &:hover {
            background-color: black;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }

}